@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.news_titlee {
  font-size: 20px;
  font-weight: 700;
}
.news_titlee img {
  height: 16px;
}

.date__info {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.date__info p {
  font-size: 14px;
  color: #808080;
  padding: 0px 10px 0 4px;
}

.hashtag {
  display: flex;
  padding: 5px 0;
}
.hashtag h6 {
  padding-right: 10px;
  font-size: 14px;
  color: #808080;
  font-weight: 400;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.navbar {
  position: relative;
  background-size: cover;
  background-color: black;
  height: 80px;
  z-index: 7;
}
.navbar .container .navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
.navbar .container .navbar__menu .language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.navbar .container .navbar__menu .language .live {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 152px;
  height: 32px;
  text-decoration: none;
}
.navbar .container .navbar__menu .language .live img {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: red;
  padding: 2px;
}
.navbar .container .navbar__menu .language .live span {
  font-size: 12px;
  padding-left: 10px;
  color: #e70000;
  font-weight: 650;
}
.navbar .container .navbar__menu .language .language__change {
  padding-left: 20px;
  list-style: none;
  cursor: pointer;
}
.navbar .container .navbar__menu .language .language__change .language__text {
  display: flex;
  align-items: center;
}
.navbar .container .navbar__menu .language .language__change .language__text img {
  padding-right: 10px;
}
.navbar .container .navbar__menu .language .language__change .language__span {
  display: none;
}
.navbar .container .navbar__menu .language .language__change .language__span .language_list_span {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #343a40;
  margin-top: 5px;
  cursor: pointer;
}
.navbar .container .navbar__menu .language .language__change .language__span .language_list_span .language__list {
  padding: 8px 25px;
}
.navbar .container .navbar__menu .language .language__change .language__span .language_list_span .language__list:hover {
  background-color: #5b6269;
}

.modals__windows {
  position: absolute;
  top: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../images/image42.svg);
  background-size: cover;
  height: calc(100vh - 80px);
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  transform: translateY(-120%);
}
.modals__windows .user_accout_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  width: 430px;
  height: 550px;
  border-radius: 4px;
}
.modals__windows .user_accout_section .sign_up_btns {
  display: flex;
}
.modals__windows .user_accout_section .sign_up_btns .enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 550;
  color: #000;
}
.modals__windows .user_accout_section .sign_up_btns .sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  background-color: #ff0000;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  margin-left: 10px;
}
.modals__windows .user_accout_section .account__img {
  text-align: center;
}
.modals__windows .user_accout_section .account__img h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.modals__windows .user_accout_section .email__section .email__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
}
.modals__windows .user_accout_section .email__section .email__input img {
  width: 36px;
  height: 36px;
}
.modals__windows .user_accout_section .email__section .email__input input {
  width: 100%;
  height: 36px;
  border: none;
  outline: none;
  padding-left: 10px;
  color: #000;
  font-size: 15px;
  font-weight: normal;
}
.modals__windows .user_accout_section .email__section .sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 10px;
  font-size: 12px;
  font-size: 15px;
  font-weight: normal;
}
.modals__windows .user_accout_section .radio__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modals__windows .user_accout_section .radio__section input {
  color: transparent;
}
.modals__windows .user_accout_section .radio__section p {
  font-size: 14px;
  color: #fff;
  padding-left: 10px;
  font-weight: 400;
}
.modals__windows .user_accout_section .radio__section p span {
  color: #0688e6;
}
.modals__windows .user_accout_section .by_social_network a {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.modals__windows .user_accout_section .by_social_network a img {
  background-color: #fff;
  padding: 10px 22px;
  border-radius: 4px;
}
.modals__windows .user_accout_section p {
  font-size: 12px;
  color: #fff;
}

.save__email {
  position: absolute;
  top: 100;
  background: url(../images/image043.svg) fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.save__email .email_save_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 40px;
}
.save__email .email_save_box .gender {
  padding-bottom: 20px;
}
.save__email .email_save_box .gender img {
  border: 1px solid red;
  padding: 10px 25px;
  border-radius: 4px;
}
.save__email .email_save_box .email__section .write__password,
.save__email .email_save_box .email__section .write__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d8caca;
  width: 310px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
}
.save__email .email_save_box .email__section .write__password img,
.save__email .email_save_box .email__section .write__name img {
  width: 36px;
  height: 36px;
}
.save__email .email_save_box .email__section .write__password input,
.save__email .email_save_box .email__section .write__name input {
  width: 100%;
  height: 36px;
  border: none;
  outline: none;
  padding-left: 10px;
  color: #000;
  font-size: 15px;
  font-weight: normal;
}
.save__email .email_save_box .email__section p {
  color: #ff0000;
  font-size: 18px;
  padding: 20px 0 10px 0;
}
.save__email .email_save_box .email__section .email__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d8caca;
  width: 310px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
}
.save__email .email_save_box .email__section .email__input img {
  width: 36px;
  height: 36px;
}
.save__email .email_save_box .email__section .email__input input {
  width: 100%;
  height: 36px;
  border: none;
  outline: none;
  padding-left: 10px;
  color: #000;
  font-size: 15px;
  font-weight: normal;
}
.save__email .email_save_box .email__section .sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 10px;
  font-size: 12px;
  font-size: 15px;
  font-weight: normal;
}
.save__email .email_save_box .email__section .save__password {
  margin-top: 20px;
  display: block;
  background-color: red;
  text-align: center;
  color: #fff;
  font-size: 17px;
  padding: 10px 0;
  border-radius: 4px;
  width: 100%;
}
.save__email .email_save_box .email__section .log__out {
  margin-top: 20px;
  display: block;
  background-color: #fff;
  border: 1px solid red;
  text-align: center;
  color: red;
  font-size: 17px;
  padding: 10px 0;
  border-radius: 4px;
  width: 100%;
}
.save__email .email_save_box .by_social_network a {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: 1px solid #d9d9d9;
  margin: 20px 20px;
}
.save__email .email_save_box .by_social_network a img {
  background-color: #fff;
  padding: 10px 22px;
  border-radius: 4px;
}
.save__email .email_save_box .by_social_network p {
  font-size: 12px;
  color: #d9d9d9;
}

.search_btn_section {
  position: absolute;
  top: 100;
  width: 100%;
  background-color: #141414;
  transform: translateY(-100%);
}
.search_btn_section .container .search_btn_content .search__section {
  display: flex;
  padding-top: 60px;
}
.search_btn_section .container .search_btn_content .search__section .select__section {
  display: inline-block;
  border: none;
  border-right: 1px solid black;
  width: 25%;
  height: 37px;
  outline: none;
  color: #3b3838;
  font-size: 16px;
}
.search_btn_section .container .search_btn_content .search__section .search__box {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 65%;
  height: 37px;
}
.search_btn_section .container .search_btn_content .search__section .search__box input {
  width: 100%;
  height: 37px;
  border: none;
  outline: none;
  padding-left: 10px;
  color: #3b3838;
  font-size: 16px;
}
.search_btn_section .container .search_btn_content .search__section .search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  width: 10%;
  height: 37px;
  font-size: 16px;
  color: #fff;
  background-color: #bfbfbf;
  outline: none;
}
.search_btn_section .container .search_btn_content h3 {
  color: #fff;
  padding: 60px 0 10px 0;
  font-size: 22px;
}
.search_btn_section .container .search_btn_content .search__more {
  display: flex;
  justify-content: space-between;
}
.search_btn_section .container .search_btn_content .search__more .search_more_list {
  display: flex;
  flex-direction: column;
  padding-bottom: 66px;
}
.search_btn_section .container .search_btn_content .search__more .search_more_list a {
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  font-family: Inter, sans-serif;
  font-weight: bold;
}
.search_btn_section .container .search_btn_content .search__more .search_more_list a .hash__tag {
  color: red;
}
.search_btn_section .container .search_btn_content .search__more .search_more_list a span {
  color: #737373;
  padding-left: 7px;
}
.search_btn_section .container .search_btn_content .search__more .search_more_list a:hover {
  color: #bebaba;
  transition: 0.5s ease;
}

.burger_btn_section {
  position: absolute;
  top: 100;
  width: 100%;
  background-size: cover;
  background-color: #141414;
  transform: translateY(-120%);
  z-index: 5;
}
.burger_btn_section .container .burger_btn_content {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.burger_btn_section .container .burger_btn_content .news__section .section__names {
  padding-top: 50px;
}
.burger_btn_section .container .burger_btn_content .news__section .section__names .news__title {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 550;
}
.burger_btn_section .container .burger_btn_content .news__section .section__names li {
  list-style: none;
}
.burger_btn_section .container .burger_btn_content .news__section .section__names li a {
  display: inline-block;
  padding-top: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}
.burger_btn_section .container .burger_btn_content .news__section .section__names li a:hover {
  color: #bebaba;
  transition: 0.5s ease;
}
.burger_btn_section .container .burger_btn_footer {
  padding: 50px 0;
}
.burger_btn_section .container .burger_btn_footer .about__us {
  color: #fff;
  font-size: 22px;
  font-weight: 550;
}
.burger_btn_section .container .burger_btn_footer .footer_item {
  padding-right: 30px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}
.burger_btn_section .container .burger_btn_footer .footer_item:hover {
  color: #bebaba;
  transition: 0.5s ease;
}

.covid__section {
  padding-top: 20px;
}
.covid__section .container .covid__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.covid__section .container .covid__content .covid__title {
  font-size: 16px;
  font-weight: 500;
}
.covid__section .container .covid__content .covid__data {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}
.covid__section .container .covid__content .covid__data li p {
  font-size: 14px;
  padding: 0 10px;
}
.covid__section .container .covid__content .covid__data li p:nth-child(2) {
  font-weight: 700;
}
.covid__section .container .covid__content .covid__data li img {
  padding-bottom: 6px;
}
.covid__section .container .covid__content .location__place {
  display: flex;
  align-items: center;
}
.covid__section .container .covid__content .location__place img {
  width: 8px;
}
.covid__section .container .covid__content .location__place h3 {
  font-size: 14px;
  padding-left: 5px;
}
.covid__section .container .covid__content a {
  font-size: 14px;
  font-weight: 700;
  color: #0688e6;
}

.widget {
  padding-top: 20px;
}
.widget .container .widget__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b9b3b3;
  border-left: none;
  border-right: none;
}
.widget .container .wearther {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}
.widget .container .wearther .weekday {
  font-size: 12px;
}
.widget .container .wearther .weather__data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.widget .container .wearther .weather__data .degree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.widget .container .wearther .weather__data .degree li {
  font-size: 15px;
  font-weight: 800;
}
.widget .container .wearther .weather__data .degree li span {
  font-size: 11px;
}
.widget .container .wearther .where {
  font-size: 14px;
  font-weight: 500;
}
.widget .container .exchange__rates {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b9b3b3;
  height: 45px;
  border-top: none;
  border-bottom: none;
}
.widget .container .exchange__rates li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding-left: 20px;
}
.widget .container .exchange__rates li:nth-child(5) {
  padding-right: 20px;
}
.widget .container .exchange__rates li h4 {
  padding: 0 5px;
}
.widget .container .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget .container .date li {
  font-size: 12px;
}
.widget .container .date li:nth-child(3) {
  display: flex;
}
.widget .container .date li:nth-child(3) h3 {
  font-size: 12px;
}
.widget .container .date .weekday {
  font-weight: 700;
}
.widget .container .date .days {
  font-size: 20px;
  padding: 0 10px;
}

.main__section {
  padding-top: 50px;
}
.main__section .container .main__content {
  display: flex;
  justify-content: space-between;
}
.main__section .container .main__content .current-news {
  float: right;
  width: 50%;
  padding-right: 50px;
  border-right: 1px solid #d9d9d9;
}
.main__section .container .main__content .current-news .card__img {
  padding-top: 10px;
}
.main__section .container .main__content .current-news .card__img a img {
  width: 100%;
  height: auto;
  display: inline-block;
}
.main__section .container .main__content .current-news .card__content .card__title {
  font-size: 27px;
  font-weight: 600;
  color: black;
  padding-bottom: 5px;
  display: inline-block;
}
.main__section .container .main__content .current-news .card__content .card__title:hover {
  color: blue;
}
.main__section .container .main__content .current-news .card__content .main__text {
  font-size: 18px;
  color: #4d4d4d;
}
.main__section .container .main__content .local-news {
  float: right;
  width: 50%;
  padding-left: 50px;
}
.main__section .container .main__content .local-news .main__card {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.main__section .container .main__content .local-news .main__card .news__card:nth-child(1) {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.main__section .container .main__content .local-news .main__card .news__card:nth-child(2) {
  float: right;
  width: 50%;
  padding-left: 15px;
}
.main__section .container .main__content .local-news .main__card .news__card .card__body a {
  width: 100%;
  height: auto;
}
.main__section .container .main__content .local-news .main__card .news__card .card__body a img {
  width: 100%;
}
.main__section .container .main__content .local-news .main__card .news__card .card__footer .title {
  font-size: 17px;
  font-weight: 600;
  color: #000;
  display: inline-block;
}
.main__section .container .main__content .local-news .main__card .news__card .card__footer .title:hover {
  color: blue;
}

.container .world_news_section {
  display: flex;
  justify-content: space-between;
}
.container .world_news_section .main__box:nth-child(1) {
  float: left;
  width: 50%;
  padding-right: 50px;
}
.container .world_news_section .main__box:nth-child(2) {
  float: right;
  width: 50%;
  padding-left: 50px;
}
.container .world_news_section .main__box .boxs {
  display: flex;
  cursor: pointer;
  padding-top: 30px;
}
.container .world_news_section .main__box .boxs .box_img {
  width: 162px;
  height: auto;
}
.container .world_news_section .main__box .boxs .box_content {
  padding-left: 20px;
}
.container .world_news_section .main__box .boxs .box_content .date__info {
  padding: 0;
}
.container .world_news_section .main__box .boxs .box_content .title {
  font-size: 17px;
  font-weight: 600;
  color: #000;
}
.container .world_news_section .main__box .boxs .box_content .title:hover {
  color: blue;
}/*# sourceMappingURL=style.css.map */